body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #BBB;
    padding: 20px 0;
}

#logo{
    width: 200px;
    height: auto;
}
.caja{
    width:940px;
    position:relative;
    margin: 0 auto;
}
nav{
    position:absolute;
    top: 140px;
    right: 0px;

}
nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color: #c78c19;

}

fieldset{
    border: none;
}


main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form legend{
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

select{
    padding: 10px 0;
}

.checkBox{
    margin: 20px 0;
}

footer{
    background-color: slategray;
    text-align: center;
    padding: 40px;
}

#logo-pie{
    width: 120px;
    height: auto;
}

.copy{
    color: #fff;
    font-size: 13px;
    margin: 20px;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    position: relative;
    left: 280px;
}

.enviar:hover{
    background: red;
    transform: scale(1.09);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555;
    color:white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000;
    padding: 8px 15px;
}





